.slider{position: relative;width: 100%;height: 710px;background: url("../images/banner.png")no-repeat;background-size: cover; font-family: 'Lato', sans-serif;}
  .slider-images{position: absolute;top:0;left: 0;width: 5107px;transition: 0.5s;}
.header-wrapper{width: 100%;background: #ffffff;position: absolute;top:0;left: 0;}
  .header{max-width:74.25em;margin: 0 auto;display: block;position: relative}
    .h-left{float: left;width: 48.31649831649832%;}
	  .h-left-left{float: left;width: 38.32752613240418%;padding-top: 23px;padding-bottom: 25px;}
	  .h-left-right{float: right;width: 55.74912891986063%;}
	.h-right{float: right; width: 48.65319865319865%}
	  .h-right-left{float: left;width: 46.88581314878893%;padding-top: 32px;padding-bottom: 28px}
	  .h-right-right{float: right;width: 44.29065743944637%;}
      .h-right-right-icon{float: left;/*padding-top: 45px*/}
      .h-right-right-text{float: right;padding-left: 10px}
	.call{width: 22.72727272727273%;position: absolute;padding: 13px 15px;left: 888px;top:113px;background: #313131}
    .call-icon{float: left}
    .call-text{float: right;color: #ffffff;font-size: 14px}
  .order-hover{width: 31.64983164983165%;position: absolute;background: #ffffff;top: 82px;left: 811px;border: 1px solid;display: none;box-shadow: 5px 5px rgba(209,209,209,0.5)}
  	.order-top{text-align: center;color: #666666;line-height: 36px;margin-bottom: 9px}
    .order-mid{padding-left: 17px;padding-right: 17px}
      .order-mid-item-first{padding-bottom: 48px}
      .order-mid-left{float: left;height: 81px;width: 81px}
      .order-mid-right{float: right;margin-left: 17px;width: 64.36170212765957%;font-size: 14px}
      .order-qty{margin-top: 10px}
      .order-mid-links {color: #f53333;padding-top: 16px;padding-bottom: 16px}
      .order-bot{text-align: center;margin-top: 32px;margin-bottom: 25px}
      .view-order-list{padding-left: 17px;padding-right: 17px;text-align: center;padding-bottom: 20px}
    .side-bar{width: 22.72727272727273%;font-family: 'Lato', sans-serif;background: #ffffff;position: absolute;top: 630px;border: 1px solid #e3e3e3;font-size: 12px;box-shadow: 6px 6px rgba(209,209,209,0.5) }
  	  .side-bar-heading-wrapper{background: #ffffff;padding-left: 28px;padding-right: 26px}
        .side-bar-heading{border-bottom: 1px solid #eeeeee;}
  	  	.side-bar-heading-text{float: left;padding-top: 18px ;padding-bottom: 18px;color: #5ca112}
  	  	.side-bar-heading-button{float: right;padding-top: 11px;padding-bottom:  11px;}
        .side-bar-text{float: left;}
        .side-bar-icon{float: right;}
    .side-bar-hover{width: 17.84511784511785%;border: 1px solid;top:720px;left: 272px;position: absolute;background: #ffffff;display: none;box-shadow:6px 6px  rgba(209,209,209,0.5) }  
    .tagline{width: 33.67003367003367%;position: absolute;top: 320px;color: #ffffff;font-size: 22px}
    .left-arrow{position: absolute;top: 368px;left: -75px}
    .right-arrow{position: absolute;top: 368px;left:1263px;}
/*Welcome Message*/
  .welcome-top-wrapper{background: #3f7900;width: 100%;color: #ffffff;font-family: 'Lato', sans-serif;}
    .welcome-top{background: #3f7900;max-width:74.25em;margin: 0 auto;}
      .welcome-top-content{background: #3f7900;width: 73.55932203389831%;padding-left: 322px}
        .welcome-top-content-left{background: #3f7900;width: 62.44239631336406%;float: left;}
          .welcome-top-content-left-heading{padding-top: 62px}
          .welcome-top-content-left-para1{padding-top: 52px;width: 97.0479704797048%}
          .welcome-top-content-left-para2{padding-top: 36px;padding-bottom: 58px;width: 97.0479704797048%}
        .welcome-top-content-right{background: #3f7900;width: 31.10599078341014%;float: right;}
          .welcome-top-content-right-map{padding-top: 56px}
          .welcome-top-content-right-note{padding-top: 6px;padding-bottom: 58px;}
  .welcome-bot-wrapper{background: #346400;width: 100%}
    .welcome-bot{max-width:74.25em;margin: 0 auto;}  
      .welcome-bot-content{width: 73.55932203389831%;padding-left: 322px}
        .welcome-bot-content-left{width: 76.72811059907834%;float: left;}
          .welcome-bot-content-left-icon{float: left;padding-bottom: 25px;padding-top: 23px}
          .welcome-bot-content-left-text{width: 93.84384384384384%;float: right;font-size: 14px;color: #ffffff;padding-top: 25px;padding-bottom: 26px}
        .welcome-bot-content-right{width: 18.89400921658986%;float: right;color: #ffffff;padding-top: 17px;padding-bottom: 17px}
          .welcome-bot-content-right-button{padding-left: 7px;padding-right: 6px;border: 1px solid #3f7900;width: 92.07317073170732%}
            .welcome-bot-content-right-text{float: left;width: 80.48780487804878%;font-size: 14px;width: 87.41721854304636%;padding-top: 9px;padding-bottom: 9px}
            .welcome-bot-content-right-icon{float: right;width: 11px;height: 15px;padding-top: 7px;padding-bottom: 6px}
/*Advertisement*/
.ad-wrapper{width: 100%;margin-top: 47px;margin-bottom: 55px;font-family: 'Lato', sans-serif;}
  .advertisements{max-width: 74.25em;margin: 0 auto}
    .ad-posters{width: 73.55932203389831%;padding-left: 322px }
      .new-year{width: 47.92626728110599%;float: left;}
      .ikea{width: 47.92626728110599%;float: right;}
/*Products*/
.products-wrapper{width: 100%;background: #f7f7f7;font-family: 'Lato', sans-serif;}
  .products{max-width: 74.25em;margin: 0 auto;}
    .products-top{width: 100%;}
      .products-top-left{float: left;padding: 57px 0 0 32px;color: #5ca112}
      .products-top-right{float: right;padding: 51px 29px 0 }
    .products-bot{margin-top: 38px;width: 100%;}
      .products-bot-collection{width: 14.30976430976431%;float: left;padding-left: 35px;padding-right: 35px}
        .products-bot-icon{width: 100%}
        .products-bot-description{width:100%;text-align: center;font-size: 14px}
        .products-bot-code{width: 100%;text-align: center;color: #f20000}        
      .products-bot-buttons{width: 100%;padding-bottom: 72px}
        .products-bot-order{width: 14.30976430976431%;float: left;display: inline;padding-left: 35px;padding-right: 35px} 
        .last-item{padding-right : 27px}
        .first-item{padding-left: 28px}
/*Suppliers*/
.suppliers-wrapper{margin-top: 48px;width: 100%;background: #ffffff;font-family: 'Lato', sans-serif;}
  .suppliers{width: 74.25em;margin: 0 auto}
    .suppliers-top{text-align: center;color: #5ca112;margin-bottom: 56px}
    .suppliers-bot{}
      .supplier1-icon{margin-right: 130px}
      .supplier2-icon{margin-right: 116px}
      .supplier3-icon{margin-right: 116px}
      .supplier4-icon{margin-right: 40px}
/*Sign Up for Newsletter*/
.newsletter-wrapper{width: 100%;background: url("../images/newsletter.png");margin-top: 100px;font-family: 'Lato', sans-serif;}
  .newsletter{max-width: 74.25em;margin: 0 auto}
    .newsletter-left{float: left;width: 46.96969696969697%;padding-bottom: 66px;padding-top: 66px;color: #ffffff}
    .newsletter-right{float: right;width: 46.2962962962963%;padding-top: 46px;padding-bottom: 48px}
      .newsletter-right-first{width: 67.45454545454545%;float: left;;padding-left: 28px;;background: #ebebeb}
      .newsletter-right-second{width: 27.45454545454545% ;float: right;}
/*Footer*/
.footer-wrapper{width: 100%;margin-top: 50px;font-family: 'Lato', sans-serif;}
  .footer{max-width: 74.25em;margin: 0 auto}
    .footer-left{width: 32.65993265993266%;float: left;}
      .footer-left-first{width: 56.70103092783505%;float: left;}
      .footer-left-second{width: 29.38144329896907%;float: right;font-size: 14px;padding-top: 8px}
    .footer-right{width:56.3973063973064%;float: right;}
      .footer-right-first{width: 57.91044776119403%;float: left;}
        .f-right-first-left{width: 24.22680412371134%;float: left;}
        .f-right-first-right{width: 41.23711340206186%;float: right;}
      .footer-right-second{float: right;}
        .footer-right-second-top{padding-top: 5px}
        .footer-right-second-bot{margin-top: 20px}
/*Clear Fix*/  	  	
.clear-fix:before,.clear-fix:after {
                   content: "";
                   display: table;
                   clear: both;
               }